<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="/css/singleUnit.css">
    <script src="/js/slider.js"></script>
    <script src="/js/singleListingGallery.js"></script>
</head>
<style>
    /* Set the size of the div element that contains the map */
    #map {

        position: relative;
        overflow: hidden;
        height: 400px;
        width: 94%;

        margin-right: 1.2em;
        /* margin-top: 3em; */
        border-radius: 4px;
        margin: 60px auto;
        margin-left: 1.2em;
    }
</style>

<section id='works' class="s-works">
    {{#each property}}
    <div class="imagegallery">
        <div class="gallery-big"><img class="gallery-img" src="{{this.Media.0.MediaURL}}">
            <div class="gallerypager"><a href="#" class="gallery-prev"><span>Prev</span></a> <a href="#" class="gallery-next"><span>Next</span></a>
            </div>
        </div>
        <div class="gallerythumbs">
            {{#each Media}}
            <a href="{{this.MediaURL}}"><img src="{{this.MediaURL}}" width="100" height="62"></a>
            {{/each}}
        </div>
    </div>
    <main>
        <header>
            <h2>{{this.StreetNumber}} {{this.StreetName}} {{this.StreetSuffix}}</h2>
        </header>
        <section class="flex flex-around">
            <div class="boxShadow" id="homeInformation">
                <div id="homeInformationImage" style="background:url('{{this.Media.0.MediaURL}}'); background-size: cover;"></div>
                <div class="flex-center flex-between container">
                    <div>
                        <h2>${{this.ListPrice}}</h2>
                        <span id="caps">2 YEAR LEASE REQUIRED</span>
                    </div>
                    <div>
                        <span id="tag">RENTAL</span>
                    </div>
                </div>
                <br>
                <div class="flex-center flex-between stats container">
                    <p>Square Feet</p>
                    <p>{{this.LivingArea}}</p>
                </div>
                <hr>
                <div class="flex-center flex-between stats container">
                    <p>Bedrooms</p>
                    <p>{{this.BedroomsTotal}}</p>
                </div>
                <hr>
                <div class="flex-center flex-between stats container">
                    <p>Bathrooms</p>
                    <p>{{#if this.BathroomsFull}}
                        {{this.BathroomsFull}}
                        Full
                        {{/if}}
                        {{#if this.BathroomsHalf}}
                        {{this.BathroomsHalf}}
                        Half
                        {{/if}}
                        {{#if this.BathroomsThreeQuater}}
                        {{this.BathroomsThreeQuater}}
                        Three Quarter
                        {{/if}}
                </div>
                <hr>
                <div class="flex-center flex-between stats container">
                    <p>Pets</p>
                    {{#if this.PetsAllowed}}
                    <p>{{this.PetsAllowed}}</p>
                    {{else}}
                    <p>No</p>
                    {{/if}}
                </div>
                <hr>
                <div class="flex-center flex-between stats container">
                    <p>Property Condition </p>
                    <p>{{this.PropertyCondition}}</p>
                </div>
            </div>
            <div class="boxShadow" id="chartInformation">
                <div id="chartOne">
                    <h5>{{this.TaxLegalDescription}}</h5>
                    <p>{{this.PublicRemarks}}</p>
                    <p>Year Built: {{this.YearBuilt}}</p>
                    <p id="googleCoordinates" style="display: none">{{this.Location.coordinates}}</p>
                </div>
            </div>
            <div id="chartTwo"></div>
            </div>
        </section>
    </main>
    {{/each}}
    <!--The div element for the map -->
    <div class="boxShadow" id="map"></div>

    <script>
        var coordinates = document.getElementById('googleCoordinates').innerHTML.trim().split(',');
        var long = parseFloat(coordinates[0]);
        var lat = parseFloat(coordinates[1]);
        // Initialize and add the map
        // Initialize and add the map
        console.log(lat);
        console.log(long);
        function initMap() {
            // The location of Uluru
            var uluru = { lat: lat, lng: long };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 15, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYFXJkYOxxDT3jU1jb5DorpO5rWrPrD-o&callback=initMap">
    </script>
</section> <!-- end s-works -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>