<head>
    <meta charset="UTF-8">

    <!--Responive Design-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Search Page</title>

    <head>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/hover.css">
        <link rel="stylesheet" href="/css/card.css">
        <script src="/js/card.js"></script>
        <script src="/js/dropdownForm.js"></script>
        <link rel="stylesheet" href="/css/slider.css">
        <script src="/js/slider.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        <link rel="stylesheet" href="css/style-search.css">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:100|Poiret+One" rel="stylesheet">

    </head>


    <!-- /******* Navigation Section ********/ -->
    <section id='works' class="s-works">

        <!-- /******* Search & Filter Section Right Under Nav ********/ -->

        <h1>{{curentUser.local.email}} Page</h1>


        <!-- /******* Homes Listing Left Side ********/ -->
        <!-- /******* Google Map Listing Right Side ********/ -->
        <div id="homesNMap-main-platform">
            <div class="leftside-homes-container">
                <div class="sortforyou-container">




                    <!-- / ******* ************************ ********/ -->
                    <!-- / ******* 8 box div of homes n info ********/ -->
                    <!-- / ******* ************************ ********/ -->


                    <div class="homes-list-platform">
                        {{#each savedPropoptions1}}
                        {{#if this.ListingKey}}
                        <div class="home-section-1 home-custom">
                            <a href="/search/{{this.ListingKey}}">
                                <div class="img-div" style="background: url({{this.Media.0.MediaURL}}) no-repeat center center;  height: 25rem;
    background-size: cover;">

                                </div>
                            </a>
                            <div class="price-div" style="display: none">{{this.ListPrice}}
                            </div>
                            <div class="price-div-commas">

                            </div>
                            <div class="bdBaSqft-div">
                                <i class="fas fa-bed fa-style-on"></i>
                                <h6 class="h6-style-on bd-name">{{this.BedroomsTotal}}bd</h6>
                                <i class="fas fa-bath fa-bed-style-on"></i>
                                <h6 class="h6-bed-style-on ba-name">{{
                                    this.BathroomsFull}}ba</h6>

                                <h6 class="h6-bed-style-on sqft-name">{{this.LivingArea}} sqft</h6>
                            </div>
                            <div class="user-save-form">
                                <form action="/users/delete" method="post" style="margin-bottom: 0px;font-size: 15px;">

                                    <div class="input">
                                        <input type="text" id="description" name="description" value="{{this.ListingKey}}"
                                            style="display: none;" />
                                    </div>



                                    <button type="submit" style="    float: right;padding-right: 0px;overflow: hidden;margin-right: 1px;padding-left: 0px;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;"><i
                                            class="fa fa-bookmark">DELETE</i></button>
                                </form>
                            </div>
                            <div class="home-address">
                                <h5 class="addy">
                                    <span id="street-name">{{this.StreetNumber}},
                                        {{this.StreetName}}
                                        {{this.StreetSuffix}}</span>

                                </h5>
                            </div>
                            <p class="google-Coordinates" style="display: none">{{this.Location.coordinates}}</p>
                        </div>
                        {{/if}}
                        {{/each}}

                        {{!--<div class="home-section-3 home-custom">
                            <div class="img-div">

                            </div>
                            <div class="price-div">$2,759,500+</div>
                            <div class="bdBaSqft-div">
                                <i class="fas fa-bed fa-style-on"></i>
                                <h6 class="h6-style-on">2bd</h6>

                                <i class="fas fa-bath fa-bed-style-on"></i>
                                <h6 class="h6-bed-style-on">3ba</h6>

                                <h6 class="h6-bed-style-on">1,234 sqft</h6>
                            </div>
                            <div class="home-address">
                                <h5 class="addy">
                                    600 Silliman St<br>
                                    San Francisco, CA 94134
                                </h5>
                            </div>
                        </div>
                        <div class="home-section-4 home-custom">
                            <div class="img-div">

                            </div>
                            <div class="price-div">$2,188,000</div>
                            <div class="bdBaSqft-div">
                                <i class="fas fa-bed fa-style-on"></i>
                                <h6 class="h6-style-on">2bd</h6>

                                <i class="fas fa-bath fa-bed-style-on"></i>
                                <h6 class="h6-bed-style-on">3ba</h6>

                                <h6 class="h6-bed-style-on">1,234 sqft</h6>
                            </div>
                            <div class="home-address">
                                <h5 class="addy">
                                    1200 California St #5D<br>
                                    San Francisco, CA 94109
                                </h5>
                            </div>
                        </div>
                        <div class="home-section-5 home-custom">
                            <div class="img-div">

                            </div>
                            <div class="price-div">$1,895,000</div>
                            <div class="bdBaSqft-div">
                                <i class="fas fa-bed fa-style-on"></i>
                                <h6 class="h6-style-on">2bd</h6>

                                <i class="fas fa-bath fa-bed-style-on"></i>
                                <h6 class="h6-bed-style-on">3ba</h6>

                                <h6 class="h6-bed-style-on">1,234 sqft</h6>
                            </div>
                            <div class="home-address">
                                <h5 class="addy">
                                    569-571 Ivy St #15<br>
                                    San Francisco, CA
                                </h5>
                            </div>
                        </div>
                        <div class="home-section-6 home-custom">
                            <div class="img-div">

                            </div>
                            <div class="price-div">$7,495,000+</div>
                            <div class="bdBaSqft-div">
                                <i class="fas fa-bed fa-style-on"></i>
                                <h6 class="h6-style-on">2bd</h6>

                                <i class="fas fa-bath fa-bed-style-on"></i>
                                <h6 class="h6-bed-style-on">3ba</h6>

                                <h6 class="h6-bed-style-on">1,234 sqft</h6>
                            </div>
                            <div class="home-address">
                                <h5 class="addy">
                                    900 Bush St #901 #15<br>
                                    San Mateo, CA
                                </h5>
                            </div>
                        </div>
                        <div class="home-section-7 home-custom">
                            <div class="img-div">

                            </div>
                            <div class="price-div">$10,345,000</div>
                            <div class="bdBaSqft-div">
                                <i class="fas fa-bed fa-style-on"></i>
                                <h6 class="h6-style-on">2bd</h6>

                                <i class="fas fa-bath fa-bed-style-on"></i>
                                <h6 class="h6-bed-style-on">3ba</h6>

                                <h6 class="h6-bed-style-on">1,234 sqft</h6>
                            </div>
                            <div class="home-address">
                                <h5 class="addy">
                                    1047 Oak St #A<br>
                                    Oakland, CA
                                </h5>
                            </div>
                        </div>
                        <div class="home-section-8 home-custom">
                            <div class="img-div">

                            </div>
                            <div class="price-div">$55,000,000</div>
                            <div class="bdBaSqft-div">
                                <i class="fas fa-bed fa-style-on"></i>
                                <h6 class="h6-style-on">2bd</h6>

                                <i class="fas fa-bath fa-bed-style-on"></i>
                                <h6 class="h6-bed-style-on">3ba</h6>

                                <h6 class="h6-bed-style-on">1,234 sqft</h6>
                            </div>
                            <div class="home-address">
                                <h5 class="addy">
                                    201 Harrison St #113<br>
                                    San Jose, CA
                                </h5>
                            </div>
                        </div> --}}

                        <!-- -------------------------------------------- -->
                        <!-- ---------JavaScript Add on Div------------------ -->
                        <!-- -------------------------------------------- -->


                        <!-- <div class="home-section-1 home-custom">
                <div class="img-div">

                </div>
                <div class="price-div">$1,974,000</div>
                <div class="bdBaSqft-div">
                    <i class="fas fa-bed fa-style-on"></i>
                    <h6 class="h6-style-on">2bd</h6>

                    <i class="fas fa-bath fa-bed-style-on"></i>
                    <h6 class="h6-bed-style-on">3ba</h6>

                    <h6 class="h6-bed-style-on">1,234 sqft</h6>
                </div>
                <div class="home-address">
                    <h5 class="addy">
                        1874 Bonanza St #15<br>
                        Oak Road, San Francisco, CA
                    </h5>
                </div>
            </div> -->


                        <!-- -------------------------------------------- -->
                        <!-- -------------------------------------------- -->
                        <!-- -------------------------------------------- -->


                    </div>


                </div>
            </div>
            {{!-- <div class="rightside-map-container">
                <div id="map" class="boxShadow"></div>

            </div> --}}
        </div>





        <!----------------------------------------->
        <!------------Sign in Page Pop Up---------->
        <!----------------------------------------->

        <!-- sign-wrapper displayShow-->
        <div class="sign-in-div sign-wrapper">
            <form class="form-signin">
                <h2 class="form-signin-heading">SIGN IN</h2>

                <h3 class="custom-input-text">USERNAME</h3>
                <input type="text" class="form-control custom-input" name="username" placeholder="" required=""
                    autofocus="" />
                <br>
                <h3 class="custom-input-text" style="margin-top: 10px;">PASSWORD</h3>
                <input type="password" class="form-control custom-input" name="password" placeholder="" required="" />
                <!-- <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label> -->
                <br>
                <button class="btn btn-lg btn-primary btn-block custom-input-signin" type="submit">SIGN IN</button>
            </form>
        </div>


        <!----------------------------------------->
        <!------------Add New Homes---------------->
        <!----------------------------------------->
        <!-- home-wrapper displayShow-home -->
        <div class="add-newhome-div home-wrapper">
            <form class="form-home">
                <h2 class="home-heading">List your new home!</h2>

                <!-- --------IMAGE GALLERY---------- -->
                <div class="gallery cf">
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/4.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/3.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/5.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/8.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/1.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/4.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/2.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/6.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/7.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/8.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/7.png?raw=true " />
                    </div>
                    <div>
                        <img src="https://github.com/kenvantruong/real-estate/blob/master/img-houses/8.png?raw=true " />
                    </div>
                </div>

                <!-- --------IMAGE GALLERY---------- -->
                <form action="" id="form-platform-control">
                    <div class="position-input-houses">
                        <h3 class="custom-input-text">Price</h3>
                        <input type="text" id="price-input" class="form-control home-custom-input" name="price"
                            placeholder="" required="" autofocus="" />
                    </div>

                    <!-- <h3 class="custom-input-text" style="margin: 39px 0px 39px 0px;">Address</h3> -->

                    <div class="position-input-houses">
                        <h4 class="custom-input-text">Street:</h4>
                        <input type="text" id="street-input" class="form-control home-custom-input" name="adress"
                            placeholder="" required="" autofocus="" />
                    </div>

                    <div class="position-input-houses">
                        <h4 class="custom-input-text">City:</h4>
                        <input type="text" id="city-input" class="form-control home-custom-input" name="adress"
                            placeholder="" required="" autofocus="" />
                    </div>

                    <div class="position-input-houses">
                        <!-- State Text Input -->
                        <h4 class="custom-input-text">State:</h4>
                        <input type="text" id="state-input" class="form-control home-custom-input" name="adress"
                            placeholder="" required="" autofocus="" />
                    </div>

                    <br>
                    <!-- Options -->
                    <h3 class="custom-input-text" style="margin-top: 10px;">Options</h3>
                    <!-- Bedroom: -->
                    <i class="fas fa-bed fa-style-on"></i>
                    <select name="" id="">
                        <option value="">1 Bed</option>
                        <option value="">2 Bed</option>
                        <option value="">3 Bed</option>
                        <option value="">4 Bed</option>
                        <option value="">5 Bed+</option>
                    </select>
                    <!-- Bathroom: -->
                    <i class="fas fa-bath fa-bed-style-on"></i>
                    <select name="" id="">
                        <option value="">1 Bath</option>
                        <option value="">2 Bath</option>
                        <option value="">3 Bath</option>
                        <option value="">4 Bath</option>
                        <option value="">5 Bath+</option>
                    </select>
                    <!-- Sqft -->
                    <i class="fas fa-home"></i>
                    <select name="" id="">
                        <option value="">1,000sqft</option>
                        <option value="">3,000sqft</option>
                        <option value="">5,000sqft</option>
                        <option value="">10,000sqft</option>
                        <option value="">20,000sqft</option>
                    </select>

                    <!-- <input type="text" class="form-control custom-input" name="options" placeholder="" required="" autofocus="" />     -->

                    <!-- btn btn-lg btn-primary btn-block  -->
                    <br>
                    <!-- Submit Button -->
                    <div class="input-submit-style">
                        <input id="submit-btn-homes" class="form-input-submit" type="submit">
                    </div>
        </div>
        </form>


    </section>
    <ul id="rudr_instafeed"></ul>
    <script>
        var token = 'YOUR INSTAGRAM TOKEN',
            num_photos = 10, // maximum 20
            container = document.getElementById('rudr_instafeed'), // it is our <ul id="rudr_instafeed">
            scrElement = document.createElement('script');

        window.mishaProcessResult = function (data) {
            for (x in data.data) {
                container.innerHTML += '<li><img src="' + data.data[x].images.low_resolution.url + '"></li>';
            }
        }

        scrElement.setAttribute('src', 'https://api.instagram.com/v1/users/self/media/recent?access_token=' + token + '&count=' + num_photos + '&callback=mishaProcessResult');
    </script>

    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/listing.js"></script>